/* Your styles go in this file */

html {
    font-family: 'Times New Roman', Times, serif;
    background-color: #bbbcbcff;
    font-variant: small-caps;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.table-container { 
    display: flex; 
    justify-content: start; 
    margin: auto; 
} 

.parent {
    position: relative;
    top: 0;
    left: 0;
  }
  
.image-back {
    position: relative;
    top: 0;
    left: 0;
  }
  
.image-front {
    position: absolute;
    top: 36px;
    left: 5px;
    border: 1px solid #000000;
    width:90px;
  }

#recipes {
    text-align: justify;
}

.recipe {
    width: 30%;
    display: inline-block;
    border: 1px solid grey;
    margin: 15px;
}

.recipe img {
    width: 100%;
    height: 300px;
}

h2 {
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

a:focus {
    text-decoration: none;
}

.wrapper {
    text-align: center;
}

p {
    line-height: 1.2;
    margin-bottom: 5%;
    margin-top: 5%;
    text-align: left;
  }

button {
    margin-top: 0%;
    margin-bottom: 0%;
    height: 30px;
    color: black;
    background-color: Transparent;
    outline:none;
    border:none;
    font-family: 'Roboto', sans-serif;
}

table {
    border-collapse: separate;
    border-spacing: 0 0;
    text-align: right;
}

td {
    border: 1px solid black;
    padding: 0 5px;
    width: max-content;
    vertical-align: top;
}

input {
    margin-top: 0%;
    height: 2%;
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 5px;
    width: 20px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}

textarea {
    font-size:60px;
    justify-content: center;
    width: 200px;
    height: 100px;
    padding: 12px 12px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.button-group {
    display: flex;
    display: inline-block;
}

.inline-button {
    margin-top: -50px;
    margin-bottom: -50px;
    font-size: smaller;
    line-height: inherit;
    height:min-content;
    display:inline-block;
    vertical-align: middle;
    height:0%;
    padding:0% 0%;
}

.component-checkboxes{
    font-size:medium;
}

.visible-button{
    background-color: white;
    outline:white;
    border:black;    
}

label[for="base_check"] {
    display: inline-block;
    width: 70px;
    height: 70px;
    background-image: url("../img/expansions/baseset.png");
}
label[for="intrigue_check"] {
    display: inline-block;
    width: 70px;
    height: 74px;
    background-image: url("../img/expansions/intrigue.png");
}
label[for="seaside_check"] {
    display: inline-block;
    width: 49px;
    height: 58px;
    background-image: url("../img/expansions/seaside.png");
}
label[for="alchemy_check"] {
    display: inline-block;
    width: 68px;
    height: 109px;
    background-image: url("../img/expansions/alchemy.png");
}
label[for="prosperity_check"] {
    display: inline-block;
    width: 52px;
    height: 55px;
    background-image: url("../img/expansions/prosperity.png");
}
label[for="cornucopia_check"] {
    display: inline-block;
    width: 68px;
    height: 72px;
    background-image: url("../img/expansions/cornucopia.png");
}
label[for="hinterlands_check"] {
    display: inline-block;
    width: 55px;
    height: 40px;
    background-image: url("../img/expansions/hinterlands.png");
}
label[for="dark_ages_check"] {
    display: inline-block;
    width: 68px;
    height: 82px;
    background-image: url("../img/expansions/darkages.png");
}
label[for="guilds_check"] {
    display: inline-block;
    width: 68px;
    height: 82px;
    background-image: url("../img/expansions/guilds.png");
}
label[for="adventures_check"] {
    display: inline-block;
    width: 68px;
    height: 78px;
    background-image: url("../img/expansions/adventures.png");
}
label[for="empires_check"] {
    display: inline-block;
    width: 68px;
    height: 67px;
    background-image: url("../img/expansions/empires.png");
}
label[for="nocturne_check"] {
    display: inline-block;
    width: 58px;
    height: 70px;
    background-image: url("../img/expansions/nocturne.png");
}
label[for="renaissance_check"] {
    display: inline-block;
    width: 70px;
    height: 65px;
    background-image: url("../img/expansions/renaissance.png");
}
label[for="menagerie_check"] {
    display: inline-block;
    width: 68px;
    height: 75px;
    background-image: url("../img/expansions/menagerie.png");
}
label[for="allies_check"] {
    display: inline-block;
    width: 58px;
    height: 62px;
    background-image: url("../img/expansions/allies.png");
}
label[for="plunder_check"] {
    display: inline-block;
    width: 68px;
    height: 75px;
    background-image: url("../img/expansions/plunder.png");
}
label[for="rising_sun_check"] {
    display: inline-block;
    width: 68px;
    height: 68px;
    background-image: url("../img/expansions/risingsun.png");
}
label[for="promo_check"] {
    display: inline-block;
    width: 68px;
    height: 69px;
    background-image: url("../img/expansions/promos.png");
}